:root {
    --ventura-Blue: #45718A;
    --ventura-Orange: #EB9200;
    --ventura-light: #A1B7C5;
    --main-bg: white;
}


.input-section input {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    padding: 5px;
    font-size: 18px;
}

.button-section button {
    width: 100%;
    height: 50px;
    font-size: 18px;
}

#city-button {
    margin-bottom: 10px;
    background-color: var(--ventura-Orange);
}

header {
    background-color: var(--ventura-Blue);
}

header h1 {
    color: white;
}

#search-form {
    background-color: var(--ventura-light);
    padding: 5px;
}


