:root {
    --ventura-Blue: #45718A;
    --ventura-Orange: #EB9200;
    --ventura-light: #A1B7C5;
    --main-bg: white;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: var(--main-bg);

}

.title {
    font-size: 72px;
    color: black;
}

header {
    padding: 15px 0% 15px 0;
    background-color: var(--ventura-Blue);
    display: flex;
    justify-content: center;
}

header span {
    color: white;
    margin: 0px;
    font-size: 3vw;
    line-height: 1;
}

